body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
}

.promt {
    max-width: 720px;
    columns: 100;
    display: none;
}

.promt-big {
    display: block;
    height: 300px;
}

.promt-medium {
    display: block;
    height: 200px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.app-header {
    justify-self: start;
}

.separator {
    width: 50px;
}

.seed {
    width: 70px;
}