:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h4, h2 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 auto; 
  max-width: 960px;*/

}

.promt {
  max-width: 720px;
  columns: 100;
  display: none;
  font-size: 14px;
}

.promt-big {
  display: block;
  height: 300px;
}

.promt-medium {
  display: block;
  height: 200px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;
}

.app-header {
  justify-self: start;
  font-size: 28px;
  padding: 20px 0px 0px 0px;
}

.separator {
  width: 50px;
}

.seed {
  max-width: 80px;
  text-align: center;
}

.serarator-horizontal {
  height: 30px;
}
